@model FinalProject.ViewModels.ShowRawardDetail

<form asp-controller="ShowRawardItems" asp-action="Create" id="postform">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="modal-header">
        <h4 class="modal-title fw-bolder" id="showDetailLabel">新增細項資料</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <table class="table-specil">
            <tbody>
                <tr hidden>
                    <th>@Html.DisplayNameFor(model => model.ShowRawardId)</th>
                    <td>
                        <input asp-for="ShowRawardId" readonly="readonly" value="@Model.ShowRawardId" class="form-control" />
                        <span asp-validation-for="ShowRawardId" class="text-danger"></span>
                    </td>                   
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <td>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.RawardLevel)</th>
                    <td>
                        <input asp-for="RawardLevel" class="form-control" />
                        <span asp-validation-for="RawardLevel" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.IsJackpot)</th>
                    <td>
                        <input class="form-check-input" asp-for="IsJackpot" /> @Html.DisplayNameFor(model => model.IsJackpot)
                    </td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Num)</th>
                    <td>
                        <input asp-for="Num" class="form-control" />
                        <span asp-validation-for="Num" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Image)</th>
                    <td>
                        <input asp-for="Image" class="form-control" />
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button id="postData" type="button" class="btn btn-primary">Save changes</button>
        <button id="closeData" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
