@model ShowRaward

<form asp-controller="ShowRaward" asp-action="Create" id="postform">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="modal-header">
        <h4 class="modal-title fw-bolder" id="showDetailLabel">新增資料</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <table class="table-specil">
            <tbody>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Series)</th>
                    <td>
                        <input asp-for="Series" class="form-control" />
                        <span asp-validation-for="Series" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <td>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </td>
                </tr>
               
                <tr>
                    <th>@Html.DisplayNameFor(model => model.AddProbability)</th>
                    <td>
                        <input asp-for="AddProbability" class="form-control" />
                        <span asp-validation-for="AddProbability" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.AllowStoreDay)</th>
                    <td>
                        <input asp-for="AllowStoreDay" class="form-control" />
                        <span asp-validation-for="AllowStoreDay" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Fare)</th>
                    <td>
                        <input asp-for="Fare" class="form-control" />
                        <span asp-validation-for="Fare" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.OneDrawMoney)</th>
                    <td>
                        <input asp-for="OneDrawMoney" class="form-control" />
                        <span asp-validation-for="OneDrawMoney" class="text-danger"></span>
                    </td>
                </tr>
                <tr hidden>
                    <th>@Html.DisplayNameFor(model => model.CreateTime)</th>
                    <td>
                        <input asp-for="CreateTime" class="form-control" />
                        <span asp-validation-for="CreateTime" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Introduction)</th>
                    <td>
                        <textarea asp-for="Introduction">@Html.DisplayFor(model => model.Introduction)</textarea>
                        <span asp-validation-for="Introduction" class="text-danger"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button id="postData" type="button" class="btn btn-primary">Save changes</button>
        <button id="closeData" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
